* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    width: 400px;
    height: 600px;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    font-size: 100px;
    text-align: center;
}
.doodler {
    width: 87px;
    height: 85px;
    background-image: url(../assets/doodler-guy.png);
    position: absolute;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.platform {
    width: 85px;
    height: 15px;
    background-image: url(../assets/platform.png);
    position: absolute;
}