* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Avenir;
    letter-spacing: 10px;
    font-size: 45px;
    background: #000;
   /*  background: #0047bb; */
}
p {
    display: inline-block;
    margin: 0;
    padding: 12px 100px 10px 100px;
}

#text {
    position: relative;
    line-height: 60px;
    margin-top: 40vh;
    color: white;
}

#uno {
    font-size: 60px;
    font-weight: normal;
    background: #1F1F1F;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, transparent, #45AEC4, transparent);
    transform: translateX(-100%);
    position: relative;
    z-index: 1;
}

span {
    font-weight: bolder;
}

#dos {
    font-weight: lighter;
    opacity: 0;
    transform: translateY(-100%);
}

#x {
    display: inline-block;
    transform: scale(10);
    opacity: 0;
}

#hide {
    background: #000;
    height: 200px;
    width: 30px;
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 10;
}

/* Image */
#icon {
  /*   display: block;  */
    width: 200px;
   /*  height: 100px; */
   /*  //max-height: 400px; */
    margin: 0 auto;
    margin-top: 2rem;
    /* transform: scale(0); */
}

#mer {
    margin-top: 2rem;
    width: 200px;
}